section{
  display: flex;
  height: 800px;
}

.app__section-top-leftside h1{
  font-weight: 700;
  font-size: 57px;
  line-height: 49px;
  letter-spacing: -0.04em;
  width: 404px;
  margin-left: 166px;
  margin-top: 114px;
  color: var(--Primary-color);
}
.app__section-top-leftside p{
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.08em;
  width: 428px;
  height: 75px;
  margin-left: 166px;
  margin-top: 28px;
  color: var(--DarkGrayishMagenta-color);
}
article.rightside__box-one{
  position: relative;
  left: 735px;
  top: -225px;
}
article.rightside__box-one img{
  position: absolute;
  top: 22px;
  left: 32px;
  bottom: 20px;
}
article.rightside__box-one p{
  position: absolute;
  top: 23px;
  right: 77px;
  bottom: 21px;
}
article.rightside__box-two{
  position: relative;
  left: 784px;
  top: -211px;
}
article.rightside__box-two img{
  position: absolute;
  top: 20px;
  left: 32px;
  bottom: 21px;
}
article.rightside__box-two p{
  position: absolute;
  top: 21px;
  right: 45px;
  bottom: 22px;
}
article.rightside__box-three{
  position: relative;
  left: 840px;
  top: -194px;
}
article.rightside__box-three img{
  position: absolute;
  top: 20px;
  left: 32px;
  bottom: 21px;
}
article.rightside__box-three p{
  position: absolute;
  top: 21px;
  right: 45px;
  bottom: 22px;
}
article.bottom__card-one{
  position: relative;
  left: 166px;
  top: -105px;
}
article.bottom__card-two{
  position: relative;
  left: 546px;
  top: -305px;
}
article.bottom__card-three{
  position: relative;
  right: -64.5%;
  top: -510px;
}
article.attribution{
  position: relative;
  top: -400px;
  left: 37%;
  font-size: 20px;
}
@media screen and (max-width:375px) {
  body{
    overflow: visible;
  }
  article.app__section-top-leftside h1{
    font-size: 35px;
    margin-left: 45px;
    margin-top: 50px;
    width: 300px;
    text-align: center;
  }
  article.app__section-top-leftside p{
    text-align: center;
    margin-left: 15px;
    margin-top: 15px;
    width: 345px;
  }
  article.rightside__box-one{
  position: relative;
  left: 23px;
  top: 50px;
}
article.rightside__box-one img{
  position: absolute;
  top: 18px;
  left: 110px;
}
article.rightside__box-one p{
  position: absolute;
  top: 52px;
  right: 65px;
}
article.rightside__box-two{
  position: relative;
  left: 23px;
  top: 75px;
}
article.rightside__box-two img{
  position: absolute;
  top: 18px;
  left: 110px;
}
article.rightside__box-two p{
  position: absolute;
  top: 52px;
  right: 65px;
}
article.rightside__box-three{
  position: relative;
  left: 23px;
  top: 100px;
}
article.rightside__box-three img{
  position: absolute;
  top: 18px;
  left: 110px;
}
article.rightside__box-three p{
  position: absolute;
  top: 52px;
  right: 65px;
}
article.bottom__card-one{
  position: relative;
  left: 20px;
  top: 145px;
}
article.bottom__card-two{
  position: relative;
  left: 20px;
  top: 175px;
}
article.bottom__card-three{
  position: relative;
  left: 20px;
  top: 210px;
}
article.attribution{
    position: relative;
    top: 243px;
    left: 7%;
    width: 200px;
    font-size: 23px;
}
}